<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="gjames" />
      <add key="ClearTextPassword" value="%NUGET_API_KEY%" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>